[submodule "vim/pack/plugins/start/Nvim-R"]
	path = vim/pack/plugins/start/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R
[submodule "vim/pack/plugins/start/dadbod"]
	path = vim/pack/plugins/start/dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "vim/pack/plugins/start/iron.nvim"]
	path = vim/pack/plugins/start/iron.nvim
	url = https://github.com/hkupty/iron.nvim
[submodule "vim/pack/plugins/start/repeat"]
	path = vim/pack/plugins/start/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/pack/plugins/start/screen"]
	path = vim/pack/plugins/start/screen
	url = https://github.com/ervandew/screen
[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/plugins/start/vim-gnupg"]
	path = vim/pack/plugins/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/plugins/start/vimwiki"]
	path = vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "vim/pack/plugins/start/perl-support"]
	path = vim/pack/plugins/start/perl-support
	url = https://github.com/WolfgangMehner/perl-support
